# Wordpress
.DS_Store
*.log
_env.php
.env
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/mu-plugins/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
wp-content/wflogs/
node_modules/
vitamin-login.php
nginx.config
nginx.conf
*.code-workspace
.vscode
/ewww
wp-content/db.php
**/vendor/10up/phpcs-composer/

/.htaccess
/license.txt
/readme.html
/sitemap.xml
/sitemap.xml.gz

# Next
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
